.cardAboutView {
  width: 280px;
  height: 220px;
  background-color: #361608;
  border-radius: 20px;
  font-size: 0.65rem;
}
.imgAboutView:nth-child(2) {
  object-fit: cover;
  width: 140px;
  height: auto;
  border-radius: 0 10% 10% 0;
}
.imgAboutView:nth-child(1) {
  object-fit: cover;
  width: 140px;
  height: auto;
  border-radius: 10% 0 0 10%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .cardAboutView {
    width: 420px;
    height: 212px;
    font-size: 0.9rem;
  }
  .imgAboutView:nth-child(2) {
    width: 198px;
    height: auto;
  }
  .imgAboutView:nth-child(1) {
    width: 198px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .cardAboutView {
    width: 620px;
    height: 380px;
    border-radius: 35px;
    font-size: 1.3rem;
  }
  .imgAboutView:nth-child(2) {
    object-fit: cover;
    width: 300px;
    height: auto;
    border-radius: 0 10% 10% 0;
  }
  .imgAboutView:nth-child(1) {
    object-fit: cover;
    width: 300px;
    height: auto;
    border-radius: 10% 0 0 10%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 2560px) {
  .cardAboutView {
    width: 820px;
    height: 480px;
    border-radius: 45px;
    font-size: 1.8rem;
  }
  .imgAboutView:nth-child(2) {
    object-fit: cover;
    width: 400px;
    height: auto;
    border-radius: 0 10% 10% 0;
  }
  .imgAboutView:nth-child(1) {
    object-fit: cover;
    width: 400px;
    height: auto;
    border-radius: 10% 0 0 10%;
  }
}
