@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainSection {
  color: white;
  flex-grow: 1;
  background-color: #eca73b;
}
.btn {
  background-color: #286e00;
  border-color: #ffdf96;
}
.btn:hover {
  background-color: #458023;
  border-color: #ffdf96;
}
.btn-success.btn-success:active {
  background-color: #215702;
  border-color: #ffdf96;
}

.nav-tabs {
  border-color: #361608;
}
.nav-tabs .nav-link {
  border-color: #361608;
  background-color: #ab783fa6;
  transition: 0.5s;
}
.nav-tabs .nav-link.active {
  border-top-color: #361608;
  border-right-color: #361608;
  border-bottom-color: #eca73b;
  border-left-color: #361608;
  background-color: #eca73b;
  transition: 0.5s;
}
.table th {
  border-color: #361608;
  background-color: #eca73b;
}
.table tr {
  border-color: #361608;
}
.table tr:nth-child(even) td {
  background-color: #f8bf64;
}
.table tr:nth-child(odd) td {
  background-color: #bf8d3e;
}
.table td {
  border-color: #361608;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav-item:nth-child(1) .nav-link {
    width: 180px;
    height: 60px;
    font-size: 1.6rem;
  }
  .nav-item:nth-child(2) .nav-link {
    width: 100px;
    height: 60px;
    font-size: 1.8rem;
  }
  .nav-item:nth-child(3) .nav-link {
    width: 100px;
    height: 60px;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 2560px) {
  .nav-item:nth-child(1) .nav-link {
    width: 180px;
    height: 60px;
    font-size: 1.6rem;
  }
  .nav-item:nth-child(2) .nav-link {
    width: 100px;
    height: 60px;
    font-size: 1.8rem;
  }
  .nav-item:nth-child(3) .nav-link {
    width: 100px;
    height: 60px;
    font-size: 1.8rem;
  }
}
