.imgModalRegister img {
  padding-top: 10px;
  width: 100px;
}
.imgModalRegister {
  position: absolute;
  width: 170px;
  height: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 100px;
  background-color: #361608;
}
.modal .modal-content {
  border-radius: 100px;
  margin-top: 30px;
}
.modalRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100px;
  border: solid 5px;
  border-radius: 100px;
  border-color: #361608;
  width: auto;
  background-color: #f8bf64;
}
.modal-header,
.modal-body,
.modal-footer {
  width: 65vw;
}
.modal-header p {
  padding-top: 2rem;
}
.modal-body {
  font-weight: 800;
  font-size: larger;
  color: #361608;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .imgModalRegister img {
    padding-top: 6px;
    width: 130px;
  }
  .imgModalRegister {
    position: absolute;
    width: 180px;
    height: 90px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 100px;
    background-color: #361608;
  }
  .modal .modal-content {
    border-radius: 100px;
  }
  .modalRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    border: solid 5px;
    border-radius: 100px;
    border-color: #361608;
    width: auto;
    height: 530px;
    background-color: #f8bf64;
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    width: 50vw;
  }
  .modal-header p {
    padding-top: 2.5rem;
  }
  .modal-body {
    font-weight: 800;
    font-size: larger;
    color: #361608;
  }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  .imgModalRegister img {
    padding-top: 10px;
    width: 100px;
  }
  .imgModalRegister {
    position: absolute;
    width: 170px;
    height: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 100px;
    background-color: #361608;
  }
  .modal .modal-content {
    border-radius: 100px;
  }
  .modalRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    border: solid 5px;
    border-radius: 100px;
    border-color: #361608;
    width: auto;
    height: 75vh;
    background-color: #f8bf64;
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    width: 80vw;
  }
  .modal-header p {
    padding-top: 2.5rem;
  }
  .modal-body {
    font-weight: 800;
    font-size: larger;
    color: #361608;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .imgModalRegister img {
    padding-top: 10px;
    width: 140px;
  }
  .imgModalRegister {
    position: absolute;
    left: 50%;
    width: 210px;
    transform: translate(-50%, -50%);
    height: 100px;
    text-align: center;
    border-radius: 100px;
    background-color: #361608;
  }
  .modal .modal-content {
    border-radius: 100px;
  }
  .modalRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    border: solid 5px;
    border-radius: 100px;
    border-color: #361608;
    width: auto;
    height: auto;
    background-color: #f8bf64;
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    width: 35vw;
  }
  .modal-header p {
    padding-top: 2.5rem;
  }
  .modal-body {
    font-weight: 800;
    font-size: larger;
    color: #361608;
  }
}
@media screen and (min-width: 1440px) {
  .imgModalRegister img {
    padding-top: 10px;
    width: 140px;
  }
  .imgModalRegister {
    position: absolute;
    left: 50%;
    width: 210px;
    transform: translate(-50%, -50%);
    height: 100px;
    text-align: center;
    border-radius: 100px;
    background-color: #361608;
  }
  .modal .modal-content {
    border-radius: 100px;
  }
  .modalRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    border: solid 5px;
    border-radius: 100px;
    border-color: #361608;
    width: auto;
    height: auto;
    background-color: #f8bf64;
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    width: 30vw;
  }
  .modal-header p {
    padding-top: 2.5rem;
  }
  .modal-body {
    font-weight: 800;
    font-size: larger;
    color: #361608;
  }
}
